@import url("dark.css");
@import url("light.css");

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  transition: all 250ms ease;
}

/* header and footer areas */
footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: var(--md-sys-color-outline-variant);
}

/* code */
pre {
  border: 1px solid var(--md-sys-color-outline-variant);
  box-shadow: 5px 5px 5px var(--md-sys-color-surface-container);
  padding: 1em;
  overflow-x: auto;
  background-color: var(--md-sys-color-surface-container)
}

code {
  background: var(--md-sys-color-surface-container-highest);
}

pre code {
  background: none;
}

/* misc elements */
img,
iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;
  font-size: large
}

blockquote {
  background: var(--md-sys-color-surface-container-highest);
  border-left: 5px solid var(--md-sys-color-tertiary);
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid var(--md-sys-color-on-surface);
  border-bottom: 1px solid var(--md-sys-color-on-surface);
}

table thead th {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: var(--md-sys-color-surface-container-high);
}

a,
a:link {
  color: var(--md-sys-color-primary);
}

a:visited {
  color: var(--md-sys-color-tertiary);
}

a:focus,
a:hover,
a:active {
  color: var(--md-sys-color-tertiary);
  text-decoration-style: dashed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-primary);
}
