{% include "partials/header.html" %}

<div class="article-meta">
  <style>
    me { text-decoration: none; background: var(--md-sys-color-surface-container-high); padding: 5px; border-radius: 5px; text-align: center; }
  </style>
  {% if page.date %}
  <h4>
    <style> me { margin: 1.34em 1.34em 0.67em } </style>
    {% if page.author %} {{ page.author | safe }}
    {% elif not page.extra.hide_default_author %} {{ config.author | safe }}
    {% endif %}
     • {{ page.date | safe }}
  </h4>
  {% endif %}
  <h1>
    {% if page.author or not page.extra.hide_default_author %}
    <style> me { margin: 0em 0.67em 0.67em } </style>
    {% endif %}
    {{ page.title | markdown(inline=true) | safe }}
  </h1>
</div>

<main>{{ page.content | safe }}</main>

{% include "partials/footer.html" %}
