{% include "partials/header.html" %}

<main>
  <!-- <a href="{{ config.base_url ~ '/' ~ taxonomy.name }}">{{ taxonomy.name | markdown(inline=true) | safe }}</a> -->
  <h2>
    {{ term.name | title | markdown(inline=true) | safe }}
  </h2>

  <ul>
    {% for page in term.pages %}
    <li>
      <span class="date">{{ page.date }}</span>
      <a href="{{ page.permalink }}">{{ page.title | markdown(inline=true) | safe }}</a>
    </li>
    {% endfor %}
  </ul>
</main>

{% include "partials/footer.html" %}
